<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercício 3</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Conversor de Temperatura</h1>
    <form action="/temperatura" method="post">
        <label for="real">Informe a temperatura em Celsius:</label>
        <input name="valor" type="number" id="real">

        <button type="submit">Calcular</button>
    </form>

    {%if conversao%}
    <div class="resultado">
        <h2>Temperatura convertida:</h2>
        <p> {{conversao}} °F</p>
    </div>
    {%endif%}
</body>
</html>